* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBDFD7;
}



.nav-pills .nav-link {
    background-color: white; /* White background */
    color: #6B1500; /* Default text color */
    border: 1px solid #993d37; /* Border color */
    border-radius: 0.25rem;
    margin: 0.2rem;
    padding: 0.5rem 1rem; /* Add padding for better appearance */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition */
}

.nav-pills .nav-link:hover {
    background-color: #e9ecef; /* Light gray background on hover */
    color: #270b06; /* Darker text color on hover */
}

.nav-pills .nav-link.active {
    background-color: #962723; /* Active link color */
    color: white; /* Active link text color */
    border-color: #993d37; /* Keep the border color consistent */
    outline:none;
}

.pagination {
    gap: 5px;
}

.pagination .page-link {
    border: none;
    color: #752738;
    background: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.2s ease;
}

.pagination .page-item.active .page-link {
    background-color: #752738;
    color: white;
}

.pagination .page-item:not(.active) .page-link:hover {
    background-color: #f8f9fa;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
}

.list-group-item {
    display: flex;
  align-items: center; /* Ensures icons and text are vertically centered */
  justify-content: flex-start;
  padding: 12px 15px;
  font-size: 16px;
  outline: none;
  margin-bottom: 6px;
  border: none;
}



/* Adjustments for smaller screens */
@media (max-width: 767px) {
    .admin-text {
        display: none !important;
    }
   
    
}

/* Adjustments for larger screens */
@media (min-width: 768px) {

}