* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBDFD7;
}


.breadcrumb-item + .breadcrumb-item::before {
    content: ">>";
    font-weight: bold;
    color: #6c757d;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

/* Adjustments for smaller screens */
@media (max-width: 767px) {
    .alumni-text {
        display: none;
    }
   
    
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
    #featuredAlumniCarousel {
        max-width: 1200px; /* Wider carousel for larger screens */
    }

    
}