@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
  margin: 0;
  font-family: 'Poppins';
}

.brand-link {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 20px;
  position: relative; 
  border-bottom: 1px solid #7e1d1d;
}

/* Keep the image on the left */
.brand-image {
  position: absolute; /* Position the image absolutely */
  left: 20px; /* Align image to the left */
  margin-right: 10px;
}

/* Center the "Alumnite" text */
.brand-text {
  flex: 1; /* Make the text take up the remaining space */
  text-align: center; /* Center the text */
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  width: 30px;
  height: 30px;
  margin-right: 3px;
}

#wrapper {
  display: flex;
  height: 100%;
  overflow-x: hidden;
}

.side {
  background: #6B1500;
  
}

#sidebar-wrapper {
  position: flex;
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-in-out;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.sidebar-user {
  display: flex;
  align-items: center; /* Ensures icons and text are vertically centered */
  justify-content: flex-start;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, border-radius 0.3s ease; 
  background: #6B1500;
  outline: none;
  color: white;
  box-shadow: none;
  margin-bottom: 6px;
  border: none;
  border-top-left-radius: 40px; 
  border-bottom-left-radius: 40px; 
}

.sidebar-user:hover {
  background-color: #EBDFD7;
  transition: background-color 0.3s ease, border-radius 0.3s ease; 
  color: #6B1500; 
  border-top-left-radius: 40px; 
  border-bottom-left-radius: 40px;
}

.sidebar-user.active {
  background-color: #EBDFD7; 
  color: #6B1500; 
  font-weight: bold;
  border-top-left-radius: 40px; 
  border-bottom-left-radius: 40px;
}

/* Icon and text alignment */
.sidebar-user i {
  width: 25px; 
  min-width: 25px;
  text-align: center;
  margin-right: 15px;
}



ul {
  margin-bottom: 0px;
}

ul li a {
  padding-left: 45px; 
  font-size: 14px;
  background-color: #6B1500;
}



.sidebar-user span {
  flex-grow: 1; 
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
